<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} /profile$ [OR]
    RewriteCond %{REQUEST_URI} /login$ [OR]
    RewriteCond %{REQUEST_URI} /home$ [OR]
    RewriteCond %{REQUEST_URI} /products$ [OR]
    RewriteCond %{REQUEST_URI} /cart$ [OR]
    RewriteCond %{REQUEST_URI} /test$ [OR]
    RewriteCond %{REQUEST_URI} /details [OR]
    RewriteCond %{REQUEST_URI} /search [OR]
    RewriteCond %{REQUEST_URI} /dashboard$ [OR]
    RewriteCond %{REQUEST_URI} /account-management [OR]
    RewriteCond %{REQUEST_URI} /product-management [OR]
    RewriteCond %{REQUEST_URI} /event-management [OR]
    RewriteCond %{REQUEST_URI} /add-event [OR]
    RewriteCond %{REQUEST_URI} /add-voucher [OR]
    RewriteCond %{REQUEST_URI} /manage-voucher [OR]
    RewriteCond %{REQUEST_URI} /login [OR]
    RewriteCond %{REQUEST_URI} /register [OR]
    RewriteCond %{REQUEST_URI} /edit-info [OR]
    RewriteCond %{REQUEST_URI} /update-voucher [OR]
    RewriteCond %{REQUEST_URI} /$
    RewriteRule (.*) public/$1 [L]
</IfModule>