.body {
    overflow-x: hidden;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: #ccc;
}

thead tr:hover {
    cursor: default;
    background-color: #ccc;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}
  
tr:hover {
    cursor: pointer;
    background-color: #D6EEEE;
}

.list-voucher {
    overflow-x: auto;
    width: 90%;
    margin: 32px auto;
    border: 1px solid black;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}